node_modules/
client/node_modules/
client/dist/
client/.env
server/.env
server/.venv/
__pycache__/
*.py[cod]
**/coverage
**/.next/
**/out/
**/build
.env
.env*.local
!.env.example
.vercel
*.pem
.DS_Store
*.log
**/venv/
**/.venv/
**/*.sqlite3
**/*.db
.idea/
.vscode/
