fastapi
uvicorn
pydantic[email]
sqlalchemy
alembic
python-dotenv
openai
google-generativeai
pytest
httpx
python-multipart
cors
psycopg2-binary
passlib[bcrypt]
bcrypt==3.2.2
python-jose[cryptography]
pydantic-settings
email-validator